.app-aside {
  border-right: 1px solid var(--color-border-main);
  display: grid;
  grid-template-columns: auto 1fr;

  & .app-aside__tabs {
    border-right: 1px solid var(--color-border-main);

    & li {
      border-right: none;
    }
  }
}
