.code-snippet {
  padding: 1.5em 1.875em;
  border-radius: 1em;
  border: 1px solid var(--color-border-main);
  background-color: var(--color-code-background);
}

.code-snippet .hljs {
  color: inherit;
  line-height: 1.5;
  font-size: 0.875rem;
  padding: 0;
  background: transparent;
}
